html {
	/* Prevent font scaling in landscape while allowing user zoom */
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: helvetica;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 16px;
}

header {
	background: transparent;
	position: absolute;
	height: 120px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #00cf9c;
	border-top: 1px solid #ebebeb;
}

ul {
	padding: 0;
	text-decoration: none;
	margin: 0;
	line-height: 1.5;
}

p {
	line-height: 1.5;
}

a, button {
	cursor: pointer;
}

button, input, textarea {
	outline: none;
}

.header-logo {
	height: 55px;
	margin: 0px 25px 0 75px;
}

.header-right {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 75px;
}

.header-nav {
	/* font-family: 'Amatic SC', cursive; */
	font-size: 13px;
	display: flex;
	flex-direction: row;
	list-style: none;
}

.header-nav a {
	padding: 0 20px;
	color: #fff;
	opacity: 0.5;
	text-decoration: none;
	cursor: pointer;
	font-weight: 300;
}

.header-nav a:hover {
	opacity: 1;
}

.header-nav__img {
	height: 22px;
	margin: 11px 15px;
}

.header__button {
	font-size: 13px;
	font-weight: 200;
	font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, .5);
    margin-left: 15px;
    background: transparent;
}

.header__button:hover {
    border: 1px solid rgba(255, 255, 255, 1);
}

.hero, .contact, footer {
	padding: 50px;
	color: #6f6977;
}

.hero {
	background: #3d386e;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 540px;

	background: linear-gradient(180deg, #3e32b0, #5f25bf, #9c25bf);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 10s ease infinite;
	-moz-animation: AnimationName 10s ease infinite;
	animation: AnimationName 10s ease infinite;
}

.hero__logo {
	display: none;
}

.hero__title {
	color: #fff;
	text-align: center;
	font-size: 42px;
    font-weight: 200;
    margin-bottom: 20px;
}

.hero__sub-title {
	color: #fff;
	text-align: center;
	font-size: 18px;
    font-weight: 200;
    max-width: 650px;
    line-height: 2;
    margin-bottom: 40px;
}

.hero__button {
	font-size: 14px;
	font-weight: lighter;
    color: #fff;
    padding: 12px 32px;
    border-radius: 5px;
    border: none;
    background: #00cf9c;
}

.hero__button:hover {
    background: #0ab389;
}

.contact {
	background: #fff;
}

.contact__title {
    margin: 30px 0;
    text-align: center;
}

.contact__form-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 900px;
}

.contact__name {
	width: 650px;
	border: none;
	border-radius: 3px;
	margin-bottom: 16px;
	font-size: 16px;
	padding: 12px;
	background: #f5f5f5;
	border: solid 1px #eee;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

.contact__email {
	width: 650px;
	border: none;
	border-radius: 3px;
	margin-bottom: 16px;
	font-size: 16px;
	padding: 12px;
	background: #f5f5f5;
	border: solid 1px #eee;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

.contact__message {
	width: 650px;
	border: none;
	border-radius: 3px;
	margin-bottom: 16px;
	font-size: 16px;
	padding: 12px;
	background: #f5f5f5;
	border: solid 1px #eee;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

.contact__send-btn {
	align-self: flex-start;
    font-size: 14px;
    color: #fff;
    padding: 12px 32px;
    border-radius: 5px;
    border: none;
    background: #00cf9c;
    margin-bottom: 30px;
}

.contact__send-btn:hover {
    background: #0ab389;
}

.footer-logo {
	height: 40px;
}

.footer__social-icon {
    padding: 0 5px;
    margin: 0 5px;
}

.footer-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 25px;
	list-style: none;
}

.footer-nav a {
	padding: 0 8px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.footer-nav a:hover {
	text-decoration: underline;
}

.footer-nav__slash {
	color: #479476;
}

.footer-copyright {
	font-size: 14px;
	padding-top: 20px;
	color: #479476;
}

/* ============================================================================================== */

.flex-container, .flex-container--centered {
	display: flex;
	justify-content: center;
}

.flex-container--centered {
	align-items: center;
}

.flex-container--columns {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.tri-container {
	margin-top: 25px;
}

.tri-section {
	width: 265px;
	margin: 10px 20px;
	text-align: center;
}

.bi-section {
	margin: 10px 35px;
}

.uni-section {
	max-width: 900px;
}

.section-title, .section-title--center {
	font-family: 'Amatic SC', cursive;
    font-size: 56px;
    margin: 15px 0;
}

.section-title--center {
	text-align: center;
}

.section-title--sm {
	font-size: 34px;
	margin-top: 30px;

}


/* ========================================================================== Thank you page */


.thank-you {
	background: #3d386e;
	background-image: url("../images/baby.jpg");
	height: 100vh;
	min-height: 550px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background: linear-gradient(180deg, #3e32b0, #5f25bf, #9c25bf);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 10s ease infinite;
	-moz-animation: AnimationName 10s ease infinite;
	animation: AnimationName 10s ease infinite;
}

.thank-you__title {
	color: #fff;
	font-size: 42px;
    font-weight: 200;
	margin: 20px 0 10px;
	text-align: center;
}

.thank-you__sub-title {
	color: #fff;
	text-align: center;
	font-size: 18px;
    font-weight: 200;
    max-width: 650px;
    line-height: 2;
    margin-bottom: 40px;
}


.thank-you__home-btn {
	align-self: center;
	font-size: 14px;
	font-weight: lighter;
    color: #fff;
    padding: 12px 32px;
    border-radius: 5px;
    border: none;
    background: #00cf9c;
}

.thank-you__home-btn:hover {
	background: #DDD;
}

/* ========================================================================== Media Queries */


@media (max-width: 735px) {

	.header-right {
		display: none;
	}

	header {
		justify-content: center;
		height: 220px;
		display: none;
	}

	.header-logo {
		margin: 0;
		height: 80px;
	}

	.hero__logo {
		display: block;
		height: 80px;
		margin-bottom: 45px;
	}

	.hero__title {
		font-size: 28px;
	    margin-bottom: 20px;
	}

	.hero__sub-title {
		font-size: 16px;
	}

}

@media (max-width: 694px) {

	.contact__form-container {
		width: 100%;
	}

	.contact__name, .contact__email, .contact__message {
		width: 90%;
	}

	.contact__send-btn {
		align-self: center;
	}
}

@media (max-width: 550px) {

	.hero, .contact, footer {
		padding: 50px 25px;
		color: #6f6977;
	}
	
}

@media (max-width: 525px) {
	.thank-you__title {
		font-size: 48px;
	}

	.thank-you__sub-title {
		font-size: 20px;
	}
}


@media (max-width: 450px) {

	.hero, .contact, footer {
		padding: 50px 10px;
	}

}

/* ============================================================================================== ANNIMATIONS */

	@-webkit-keyframes AnimationName {
	    0%{background-position:50% 0%}
	    50%{background-position:50% 100%}
	    100%{background-position:50% 0%}
	}
	@-moz-keyframes AnimationName {
	    0%{background-position:50% 0%}
	    50%{background-position:50% 100%}
	    100%{background-position:50% 0%}
	}
	@keyframes AnimationName { 
	    0%{background-position:50% 0%}
	    50%{background-position:50% 100%}
	    100%{background-position:50% 0%}
	}